<a href="https://colab.research.google.com/github/cgasdic/TELECOMX_LATAM/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracci贸n

In [111]:
import pandas  as pd

In [112]:
datos = pd.read_json('/content/TelecomX_Data.json')

In [113]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [114]:
display(datos.head())

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [115]:
# Extracci贸n de los datos a nuevos dataframe
customer_data = pd.json_normalize(datos['customer'])
phone_data = pd.json_normalize(datos['phone'])
internet_data = pd.json_normalize(datos['internet'])
account_data = pd.json_normalize(datos['account'])

In [116]:
# Concatenar las columnas sin diccionarios con las de los nuevos dataframe normalizados
datos = pd.concat([datos[['customerID', 'Churn']], customer_data, phone_data, internet_data, account_data], axis=1)

In [117]:
display(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

None

In [118]:
datos.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# Transformaci贸n

In [123]:
#Transformar columnas a minisculas
columnas = list(datos.columns)
columnas
datos.rename(columns=lambda x: x.lower(), inplace=True)

In [124]:
columnas

['customerid',
 'churn',
 'gender',
 'seniorcitizen',
 'partner',
 'dependents',
 'tenure',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'charges.monthly',
 'charges.total']

In [125]:
#traducir nombres de las columnas
nombres_traducidos = ['ID_de_cliente','Rotacion','Genero','Senior','Pareja','Dependientes','Antiguedad','Servicio_telefonico','Varias_lineas','Servicio_de_internet','Seguridad_en_linea','Copia_de_seguridad_en_linea','Proteccion_de_dispositivos','Soporte_tecnico','Transmision_de_television','Transmisi贸n_de_pel铆culas','Contrato','Facturacion_electronica','Metodo_de_pago','Cargos_mensuales','Cargos_totales']
datos.columns = nombres_traducidos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_de_cliente                7267 non-null   object
 1   Rotacion                     7267 non-null   object
 2   Genero                       7267 non-null   object
 3   Senior                       7267 non-null   int64
 4   Pareja                       7267 non-null   object
 5   Dependientes                 7267 non-null   object
 6   Antiguedad                   7267 non-null   int64
 7   Servicio_telefonico          7267 non-null   object
 8   Varias_lineas                7267 non-null   object
 9   Servicio_de_internet         7267 non-null   object
 10  Seguridad_en_linea           7267 non-null   object
 11  Copia_de_seguridad_en_linea  7267 non-null   object
 12  Proteccion_de_dispositivos   7267 non-null   object
 13  Soporte_tecnico              7267 non-null   object
 14  Transmision_de_television    7267 non-null   object
 15  Transmisi贸n_de_pel铆culas     7267 non-null   object
 16  Contrato                     7267 non-null   object
 17  Facturacion_electronica      7267 non-null   object
 18  Metodo_de_pago               7267 non-null   object
 19  Cargos_mensuales             7267 non-null   float64
 20  Cargos_totales               7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [126]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_de_cliente                7267 non-null   object
 1   Rotacion                     7267 non-null   object
 2   Genero                       7267 non-null   object
 3   Senior                       7267 non-null   int64
 4   Pareja                       7267 non-null   object
 5   Dependientes                 7267 non-null   object
 6   Antiguedad                   7267 non-null   int64
 7   Servicio_telefonico          7267 non-null   object
 8   Varias_lineas                7267 non-null   object
 9   Servicio_de_internet         7267 non-null   object
 10  Seguridad_en_linea           7267 non-null   object
 11  Copia_de_seguridad_en_linea  7267 non-null   object
 12  Proteccion_de_dispositivos   7267 non-null   object
 13  Soporte_tecnico              7267 non-null   object
 14  Transmision_de_television    7267 non-null   object
 15  Transmisi贸n_de_pel铆culas     7267 non-null   object
 16  Contrato                     7267 non-null   object
 17  Facturacion_electronica      7267 non-null   object
 18  Metodo_de_pago               7267 non-null   object
 19  Cargos_mensuales             7267 non-null   float64
 20  Cargos_totales               7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [129]:
# prompt: aplicar metodo unique
datos['ID_de_cliente'].unique()

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)

In [132]:
#Cambiar tipos de datos a string

columnas_string_list = ['ID_de_cliente','Rotacion','Genero', 'Pareja', 'Dependientes','Servicio_telefonico','Varias_lineas','Servicio_de_internet','Seguridad_en_linea','Copia_de_seguridad_en_linea','Proteccion_de_dispositivos','Soporte_tecnico','Transmision_de_television','Transmisi贸n_de_pel铆culas','Contrato','Facturacion_electronica','Metodo_de_pago']
columnas_string_dict = {col: 'string' for col in columnas_string_list}
datos = datos.astype(columnas_string_dict)

In [133]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_de_cliente                7267 non-null   string
 1   Rotacion                     7267 non-null   string
 2   Genero                       7267 non-null   string
 3   Senior                       7267 non-null   int64
 4   Pareja                       7267 non-null   string
 5   Dependientes                 7267 non-null   string
 6   Antiguedad                   7267 non-null   int64
 7   Servicio_telefonico          7267 non-null   string
 8   Varias_lineas                7267 non-null   string
 9   Servicio_de_internet         7267 non-null   string
 10  Seguridad_en_linea           7267 non-null   string
 11  Copia_de_seguridad_en_linea  7267 non-null   string
 12  Proteccion_de_dispositivos   7267 non-null   string
 13  Soporte_tecnico              7267 non-null   string
 14  Transmision_de_television    7267 non-null   string
 15  Transmisi贸n_de_pel铆culas     7267 non-null   string
 16  Contrato                     7267 non-null   string
 17  Facturacion_electronica      7267 non-null   string
 18  Metodo_de_pago               7267 non-null   string
 19  Cargos_mensuales             7267 non-null   float64
 20  Cargos_totales               7267 non-null   object
dtypes: float64(1), int64(2), object(1), string(17)
memory usage: 1.2+ MB

In [134]:
datos['Cargos_totales'] = pd.to_numeric(datos['Cargos_totales'], errors='coerce').fillna(0)
datos['Cargos_totales'] = datos['Cargos_totales'].astype("float64")
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_de_cliente                7267 non-null   string
 1   Rotacion                     7267 non-null   string
 2   Genero                       7267 non-null   string
 3   Senior                       7267 non-null   int64
 4   Pareja                       7267 non-null   string
 5   Dependientes                 7267 non-null   string
 6   Antiguedad                   7267 non-null   int64
 7   Servicio_telefonico          7267 non-null   string
 8   Varias_lineas                7267 non-null   string
 9   Servicio_de_internet         7267 non-null   string
 10  Seguridad_en_linea           7267 non-null   string
 11  Copia_de_seguridad_en_linea  7267 non-null   string
 12  Proteccion_de_dispositivos   7267 non-null   string
 13  Soporte_tecnico              7267 non-null   string
 14  Transmision_de_television    7267 non-null   string
 15  Transmisi贸n_de_pel铆culas     7267 non-null   string
 16  Contrato                     7267 non-null   string
 17  Facturacion_electronica      7267 non-null   string
 18  Metodo_de_pago               7267 non-null   string
 19  Cargos_mensuales             7267 non-null   float64
 20  Cargos_totales               7267 non-null   float64
dtypes: float64(2), int64(2), string(17)
memory usage: 1.2 MB

In [136]:
# prompt: insertar nueva columna en dataframe datos

# Crear Columna de cuentas diarias
datos['cargos_diarios'] = datos['Cargos_totales'] / 30
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID_de_cliente                7267 non-null   string
 1   Rotacion                     7267 non-null   string
 2   Genero                       7267 non-null   string
 3   Senior                       7267 non-null   int64
 4   Pareja                       7267 non-null   string
 5   Dependientes                 7267 non-null   string
 6   Antiguedad                   7267 non-null   int64
 7   Servicio_telefonico          7267 non-null   string
 8   Varias_lineas                7267 non-null   string
 9   Servicio_de_internet         7267 non-null   string
 10  Seguridad_en_linea           7267 non-null   string
 11  Copia_de_seguridad_en_linea  7267 non-null   string
 12  Proteccion_de_dispositivos   7267 non-null   string
 13  Soporte_tecnico              7267 non-null   string
 14  Transmision_de_television    7267 non-null   string
 15  Transmisi贸n_de_pel铆culas     7267 non-null   string
 16  Contrato                     7267 non-null   string
 17  Facturacion_electronica      7267 non-null   string
 18  Metodo_de_pago               7267 non-null   string
 19  Cargos_mensuales             7267 non-null   float64
 20  Cargos_totales               7267 non-null   float64
 21  charges.daily                7267 non-null   float64
 22  cargos_diarios               7267 non-null   float64
dtypes: float64(4), int64(2), string(17)
memory usage: 1.3 MB

# Carga y an谩lisis

#Informe final